:root {
    --background: #FE5F55;
    --darkest: #4F6367;
    --darker: #7A9E9F;
    --dark: #B8D8D8;
    --sand: #EEF5DB;
  }

.Date {
    display: flex;
    flex-direction: row;
    height: 75px;
    color: var(--darkest);
    margin: 10px;
}

.monthAndYear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    margin-left: 5px;
}

.Day {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
}


.month {
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.year {
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Date {
        margin-top: 5px;
        width: 120px;
        justify-content: space-between;
    }

    .monthAndYear {
        flex-direction: row;
        margin-left: 0px;
        justify-content: space-between;
        width: 65px;
    }

    .Day {
        font-size: 1.2rem;
        height: 1.2rem;
        justify-content: center;
    }

    .year, .month {
        font-size: 0.6rem;
        height: 20px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


