:root {
    --background: #FE5F55;
    --darkest: #4F6367;
    --darker: #7A9E9F;
    --dark: #B8D8D8;
    --sand: #EEF5DB;
  }

.Date {
    display: flex;
    flex-direction: row;
    height: 75px;
    color: var(--darkest);
    margin: 10px;
}

.monthAndYear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    margin-left: 5px;
}

.Day {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
}


.month {
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.year {
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


