:root {
    --background: #FE5F55;
    --darkest: white;
    --darker: white;
    --dark: white;
    --sand: black;
  }

.tasks {
    display: flex;
    flex-direction: row;
    background-color: var(--dark);
    color: var(--darkest);
    margin: 3px 0px;
    justify-content: space-between;
    width: 90%;
    overflow: scroll;
    border-radius: 5px;
    border: 0px;
}

.tasks p {
    margin-left: 5px;
}

.tasks button {
    background-color: var(--darker);
    color: var(--sand);
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    width: 2rem;
    font-weight: bold;
    transition: 0.3s;
}

.tasks button:hover {
    cursor: pointer;
    background-color: var(--background);
    outline: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .text {
        overflow: scroll;
    }

    .tasks button {
        max-width: 25px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}