:root {
    --background: #FE5F55;
    --darkest: #4F6367;
    --darker: #7A9E9F;
    --dark: #B8D8D8;
    --sand: #EEF5DB;
  }

* {
    border: 0px;
    border-radius: 5px;
} 

.addTasks {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.addTasks input {
    width: 60%;
    background-color: var(--dark);
    height: 25px;
    padding-left: 10px;
    margin-right: 20px;
    color: var(--darkest)
}

.addTasks input:focus {
    outline: none;
}

.addTasks input::placeholder {
    color: var(--darkest)
}

.addTasks button {
    background-color: var(--darker);
    color: var(--sand);
    font-weight: bold;
    transition: 0.3s;
}

.addTasks button:hover {
    cursor: pointer;
    outline: none;
    background-color: var(--darkest);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .addTasks {
        margin-top: 25px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}