:root {
  --background: #FE5F55;
  --darkest: #4F6367;
  --darker: #7A9E9F;
  --dark: #B8D8D8;
  --sand: #EEF5DB;
}

.App {
  background-color: var(--sand);
  text-align: center;
  min-height: 400px;
  min-width: 600px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.App h1 {
  color: var(--darkest);
  padding-top: 15px;
  font-family: 'Helvetica';
  padding-right: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}