:root {
  --background: #FE5F55;
  --darkest: #4F6367;
  --darker: #7A9E9F;
  --dark: #B8D8D8;
  --sand: #EEF5DB;
}

.App {
  background-color: var(--sand);
  text-align: center;
  min-height: 400px;
  padding-bottom: 20px;
}

.App h1 {
  color: var(--darkest);
  padding-top: 15px;
}
